
* {
    margin: 0;
    padding: 0;
}

body {
    background: #111;
    height: 100%;
}

img {
    border: none;
}

#supersized-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    text-indent: -999em;
    background: url(../images/progress.gif) no-repeat center center;
}

#supersized {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -999;
    width: 100%;
    min-height: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

#supersized img {
    width: auto;
    height: auto;
    position: relative;
    display: none;
    outline: none;
    border: none;
    padding: 0 !important;
    margin: 0 !important;
}

#supersized.speed img {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -moz-crisp-edges;
}

#supersized.quality img {
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
}

#supersized li {
    display: block;
    list-style: none;
    z-index: -30;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#supersized a {
    width: 100%;
    height: 100%;
    display: block;
}

#supersized li.prevslide {
    z-index: -20;
}

#supersized li.activeslide {
    z-index: -10;
}

#supersized li.image-loading {
    background: #111111 url(../images/progress.gif) no-repeat center center;
    width: 100%;
    height: 100%;
}

#supersized li.image-loading img {
    visibility: hidden;
}

#supersized li.prevslide img, #supersized li.activeslide img {
    display: inline;
}

#lightbox {
    cursor: pointer;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    background: black;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAIElEQVQ4T2NkYGDYDMRkA8ZRAxhGw4BhNAyA+WAYpAMAIFgLQfO9BoEAAAAASUVORK5CYII=);
    background: rgba(0, 0, 0, 0.7);
    -webkit-filter: none !important;
}

#lightbox img {
    display: block;
    position: absolute;
    border: 5px solid #fff;
    box-shadow: 0 0 20px #000;
    border-radius: 1px;
}

body.blurred > * {
    -webkit-filter: blur(2px);
    -webkit-transform: translate3d(0, 0, 0);
}

.lightbox-loading {
    background: url(../images/progress.gif) center center no-repeat;
    width: 31px;
    height: 31px;
    margin: -16px 0 0 -16px;
    position: absolute;
    top: 48%;
    left: 50%;
}

.lightbox-caption {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    background: #000;
    background: rgba(0, 0, 0, 0.7);
}

.lightbox-caption p {
    margin: 0 auto;
    max-width: 70%;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 10px;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
}

.lightbox-button {
    position: absolute;
    z-index: 9999;
    background: no-repeat center center;
    width: 32px;
    height: 32px;
    opacity: 0.4;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.lightbox-button:hover,
.lightbox-button:focus {
    opacity: 1;
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
}

.lightbox-close {
    right: 10px;
    top: 10px;
    background-image: url("../images/close.png");
}

.lightbox-next {
    right: 10px;
    top: 48%;
    background-image: url("../images/next.png");
}

.lightbox-previous {
    left: 10px;
    top: 48%;
    background-image: url("../images/previous.png");
}